.DS_Store
__pycache__/
.venv/
result/
save/
*.zip
*.tar.gz
train/
valid/
*.pt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
obj_dir/
*.vcd
.vscode
*.log

# --- LaTeX compilation intermidiate ---
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.thm
*.vrb
*.xdy
*.tdo

# --- Latexmk tool files (VS Code default) ---
*.fls
*.fdb_latexmk

# --- OS files ---
.DS_Store
Thumbs.db

# --- editor settings ---
.vscode/
*.sublime-project
*.sublime-workspace